@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body {
    margin: 0;
    font-family: 'Sometype Mono', monospace;
    font-size: 0.75rem;
    font-size: clamp(0.75rem, 0.62rem + 1.3vw, 1.4rem);
    background-color: rgb(174, 174, 174);
    padding: 10px;
    min-width: 350px;
}

input {
    font-family: 'Sometype Mono', monospace;
    font-size: 0.75rem;
    font-size: clamp(0.75rem, 0.62rem + 1.3vw, 1.4rem);
    border: 3px solid black;
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    color: rgb(0, 196, 39);
}

input:focus {
    outline: none;
}

#input-btn, #tab-btn {
    cursor: pointer;
    font-family: 'Sometype Mono', monospace;
    font-size: 0.75rem;
    font-size: clamp(0.75rem, 0.62rem + 1.3vw, 1.4rem);
    font-weight: 600;
    border: 3px solid black;
    background-color: white;
    color: rgb(0, 196, 39);
    margin-top: 15px;
    padding: 10px;
}

#input-btn:hover, #tab-btn:hover {
    border: 3px solid rgb(0, 196, 39);
    background-color: rgb(218, 255, 226);
    color: rgb(0, 196, 39);
}

#input-btn:active, #tab-btn:active {
    transform: scale(0.95);
    transition: 0.1s ease-in-out;
}

#delete-btn {
    cursor: pointer;
    font-family: 'Sometype Mono', monospace;
    font-size: 0.75rem;
    font-size: clamp(0.75rem, 0.62rem + 1.3vw, 1.4rem);
    font-weight: 600;
    border: 3px solid black;
    background-color: rgb(255, 255, 255);
    color: coral;
    margin-top: 15px;
    padding: 10px;
}

#delete-btn:hover {
    border: 3px solid coral;
    background-color: rgb(255, 220, 207);
    color: coral;
}

#delete-btn:active {
    border: 3px solid coral;
    background-color: coral;
    color: rgb(86, 86, 86);
    transition: 0.1s ease-in-out;
    transform: scale(0.95);
}

.separator {
    margin-top: 15px;
    width: 100%;
    height: 3px;
    background-color: black;
}

ul {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    list-style: none;
}

a {
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-weight: 100;
}

a:hover {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

#brand {
    pointer-events: none;
    margin-bottom: 10px;
}